[package]
name = "agent"
version = "0.1.0"
edition = "2024"

[dependencies]
aws-config = { version = "^1.8.11", features = ["behavior-version-latest"] }
aws-sdk-bedrockruntime = "^1.118.0"
tokio = { version = "^1.48.0", features = ["full"] }
